/* Import Bootstrap */

@import "node_modules/bootstrap-sass/assets/stylesheets/bootstrap";

/* Import Select2 */
@import "node_modules/select2/dist/css/select2.min";

/* Import Strucko */

body {
    padding-top: 70px;
}

.margin-top-05 { margin-top: 0.5em; }
.margin-top-10 { margin-top: 1.0em; }
.margin-top-15 { margin-top: 1.5em; }
.margin-top-20 { margin-top: 2.0em; }
.margin-top-25 { margin-top: 2.5em; }
.margin-top-30 { margin-top: 3.0em; }

.vertical-center {
    display: inline-block;
    vertical-align: middle;
    float: none;
    margin-right: -4px;
}

.table tbody>tr>td.vertical-center-cell{
    vertical-align: middle;
}

.strucko-header {
    
    height: 10em;
}

.strucko-nav {
    background-color: #f8f8f8;
}

.votes-lg {
    font-size: 2em;
}

.vote-positive {
    color: green;
}

.vote-negative {
    color: red;
}

.lang-switcher {
    color: #ccccff;
}
